@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
    
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
    
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
    
@font-face { 
  font-family: "Inter";
  src: url("../fonts/Inter-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
    
    
body {
  min-width: 320px;
  margin: 0;
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 140%;
  color: #181818;
  background-color: #FFFFFF;
}
    
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
    
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
    
h1,
h2,
h3,
p {
  margin: 0;
}
    
img {
  vertical-align: middle;
}
    
/* Шапка */
    
.header {
  padding-bottom: 30px;
}
    
.header-top {
  width: 100%;
  background-color: #004F84;
  padding: 3px 0;
}
    
.header-top__wrap {
  display: flex;
  width: 420px;
  margin: 0 auto;
}
    
.header-top__text {
  font-family: "Inter";
  font-size: 13px;
  color: #FFFFFF;
  font-weight: 500;
}
    
.header-top__link {
  text-decoration: none;
  font-family: "Inter";
  font-size: 13px;
  color: #ffffff;
  font-weight: 500;
  transition: color 0.5s;
}
    
.header-top__link:hover,
.header-top__link:focus,
.header-top__link:active {
  color: rgba(255, 255, 255, 0.9);
}
    
.header-bottom {
  width: 1220px;
  margin: 0 auto;
  padding: 40px 0;
}
    
.nav {
  display: flex;
  justify-content: space-between;
  align-items:center;
}
    
.burger {
  margin-top: 5px;
  cursor: pointer;
  transition: opacity 0.5s;
}

.burger:hover, .burger:focus, .burger:active {
  opacity: 0.5;
}

    
.header-logo {
  margin-left: 190px;
}
    
.nav-menu {
  display: flex;
}
    
.burger {
  cursor: pointer;
}
    
.menu-item {
  margin-left: 30px;
}
      
.menu-link {
  display: inline-block;
  width: 30px;
  height: 30px;
  transition: opacity 0.5s;
}
    
.menu-link:hover,
.menu-link:focus,
.menu-link:active {
  opacity: 0.6;
}
    
.shop {
  background-image: url("../images/clarity_shopping-bag-line.svg");
}
    
.auth {
  background-image: url("../images/octicon_person-24.svg");
}
    
.fav {
  background-image: url("../images/ph_heart.svg");
}
    
.phone {
  background-image: url("../images/ph_phone-light.svg");
}

  /* Этап 1 */

.cart-wrap {
  width: 1219px;
  margin: 0 auto;
}

.cart-title__main {
  font-size: 26px;
  text-transform: uppercase;
  margin-bottom: 28px;
}

.cart-title {
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.cart-text {
  font-size: 18px;
  margin-bottom: 30px;
}

.cart-top {
  width: 1219px;
  margin: 0 auto;  
}

.cart-list {
  width: 100%;
}

.cart-item {
  width: 100%;
  display: flex;
  padding: 30px 0;
  border-top: 1px solid #71839B;
}

.cart-img__block {
  width: 290px;
  height: 346px;
  margin-right: 24px;
}

.cart-img {
  object-fit: cover;
  width: 100%;
}

.cart-column__left {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cart-name {
  text-transform: uppercase;
  font-weight: 400;
}

.cart-number {
  color: rgba(24, 24, 23, 0.5);
  margin-top: 10px;
}

.cart-size, .cart-color {
  font-family: "Inter";
  color: rgba(24, 24, 23, 0.5);
}

.cart-column__right {
  width: 125px;
  margin-left: auto;
  display: flex;
  flex-direction: column;
}

.cart-price {
  font-size: 24px;
  font-weight: 500;
}

.cart-buttons {
  width: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-top: 30px;
}

.cart-btn {
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 14.5px;
  height: 14.5px;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}

.cart-btn__add {
  background-image: url("../images/plus.svg");
}

.cart-btn__remove {
  background-image: url("../images/minus.svg");
}

.cart-ammount {
  font-family: "Inter";
}

.cart-btn__cancel {
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 95px;
  height: 22px;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  margin-top: auto;
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: underline;
  cursor: pointer;
}

.cart-footer {
  box-sizing: border-box;
  width: 1223px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 20px 25px;
  height: 70px;
  background-color: rgb(230, 237, 243);
}

/* Этап 2 */

.order {
  padding: 60px 0; 
}

.order-wrap {
  width: 1223px;
  margin: 0 auto;
}

.order-title {
  font-size: 26px;
  text-transform: uppercase;
  margin-bottom: 28px;  
}

fieldset {
  border: none;
  padding: 0;
}

.delivery-method__text {
  margin-bottom: 30px;
}

.delivery-method__text:after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-left: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  background-image: url("../images/arr.svg");
  cursor: pointer;
}

.delivery-method__title,
.delivery-address__title {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}

.delivery-method {
  display: flex;
  flex-direction: column;
}

.delivery-radio__btn {
  position: absolute;
  z-index: -1;
  opacity: 0;  
}

.delivery-radio > span {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.delivery-radio > span:before {
  content: '';
  display: inline-block;
  width: 25px;
  height: 25px;
  border: 1px solid black;
  border-radius: 50%;
  margin: 0 10px 10px 0;
  background-position: center;
  background-repeat: no-repeat;
}

.delivery-radio__btn:active + span:before {
  background-image: url("../images/circle.svg");
}

.delivery-radio__btn:checked + span::before {
  background-image: url("../images/circle.svg");
}

.delivery-address {
  margin-top: 20px;
}

.delivery-address__top, .delivery-address__middle, .delivery-address__bottom {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.delivery-address__top {
  margin-top: 20px;
}

.delivery-address input, #comment {
  box-sizing: border-box;
  color: #181818;
  font-family: "Inter";
  font-size: 18px; 
  padding: 15px;
  height: 52px;
  box-shadow: 0px 0px 10px 2px rgba(24, 24, 24, 0.10);
  border:none;
  outline: none;
}

#city, #street {
  flex: 1;
}

#house, #apartment, #index {
 flex: 1;
}

#comment {
  flex: 1;
  height: 182px;
  resize: none;
}

.order-total, .order-price {
  box-sizing: border-box;
  background-color: rgb(230, 237, 243);
  height: 70px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  text-transform: uppercase;
}

.order-price {
  margin-bottom: 20px;
}

.order-buttons {
  width: 470px;
  height: 60px;
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  gap: 30px;
}

.checkout {
  flex:1;
  font-family: "Inter";
  font-weight: 600;
  color: #FFF;
  text-align: center;
  background-color: #004F84;
  border:1px solid #004F84;
  border-radius: 5px;
  cursor: pointer;
}

.return {
  flex: 1;
  font-family: "Inter";
  font-weight: 600;
  color: #355D85;
  text-align: center;
  background-color: transparent;
  border:1px solid #355D85;
  border-radius: 5px;
  cursor: pointer;
}

/* footer */

.footer {
  border-top: 1px solid rgba(53, 93, 133, 0.5);
  padding-bottom: 60px;
}

.footer-wrap {
  display: flex;
  width: 1220px;
  margin: 0 auto;
  justify-content: space-between;
  padding-top: 84px;
}

.footer-title {
  font-family: "Inter";
  text-transform: uppercase;
  margin-bottom: 15px;
}

.footer-item {
  margin-bottom: 8px;
}

.footer-link {
  font-family: "Inter";
  color: #181818;
  text-decoration: none;
  transition: color 0.5s;
}

.footer-link:hover,
.footer-link:focus,
.footer-link:active {
  color: rgba(24, 24, 24, 0.5)
}

.social-title {
  font-family: "Inter";
  text-transform: uppercase;
  margin-bottom: 15px; 
}

.social-list {
  display: flex;
}

.social-list__item {
  margin-right: 10px;
}

.social-item__link {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-position: center;
  background-repeat: no-repeat;
  transition: opacity 0.5s;
}

.social-item__link:hover,
.social-item__link:focus,
.social-item__link:active {
  opacity: 0.7;
}

.vk {
  background-image: url("../images/vk.svg");
}

.vb {
  background-image: url("../images/viber.svg");
}

.tg {
  background-image: url("../images/ic_baseline-telegram.svg");
}