@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
    
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
    
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
    
@font-face { 
  font-family: "Inter";
  src: url("../fonts/Inter-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
    
    
body {
  min-width: 320px;
  margin: 0;
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 140%;
  color: #181818;
  background-color: #FFFFFF;
}
    
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
    
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
    
h1,
h2,
h3,
p {
  margin: 0;
}
    
img {
  vertical-align: middle;
}
    
/* Шапка */
    
.header {
  padding-bottom: 30px;
}
    
.header-top {
  width: 100%;
  background-color: #004F84;
  padding: 3px 0;
}
    
.header-top__wrap {
  display: flex;
  width: 420px;
  margin: 0 auto;
}
    
.header-top__text {
  font-family: "Inter";
  font-size: 13px;
  color: #FFFFFF;
  font-weight: 500;
}
    
.header-top__link {
  text-decoration: none;
  font-family: "Inter";
  font-size: 13px;
  color: #ffffff;
  font-weight: 500;
  transition: color 0.5s;
}
    
.header-top__link:hover,
.header-top__link:focus,
.header-top__link:active {
  color: rgba(255, 255, 255, 0.9);
}
    
.header-bottom {
  width: 1220px;
  margin: 0 auto;
  padding: 40px 0;
}
    
.nav {
  display: flex;
  justify-content: space-between;
  align-items:center;
}
    
.burger {
  margin-top: 5px;
  cursor: pointer;
  transition: opacity 0.5s;
}

.burger:hover, .burger:focus, .burger:active {
  opacity: 0.5;
}

    
.header-logo {
  margin-left: 190px;
}
    
.nav-menu {
  display: flex;
}
    
.burger {
  cursor: pointer;
}
    
.menu-item {
  margin-left: 30px;
}
      
.menu-link {
  display: inline-block;
  width: 30px;
  height: 30px;
  transition: opacity 0.5s;
}
    
.menu-link:hover,
.menu-link:focus,
.menu-link:active {
  opacity: 0.6;
}
    
.shop {
  background-image: url("../images/clarity_shopping-bag-line.svg");
}
    
.auth {
  background-image: url("../images/octicon_person-24.svg");
}
    
.fav {
  background-image: url("../images/ph_heart.svg");
}
    
.phone {
  background-image: url("../images/ph_phone-light.svg");
}

  /* Этап 1 */

.cart-wrap {
  width: 1219px;
  margin: 0 auto;
  border-bottom: 1px solid #71839B;
}

.cart-title__main {
  font-size: 26px;
  text-transform: uppercase;
  margin-bottom: 28px;
}

.cart-title {
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.cart-text {
  font-size: 18px;
  margin-bottom: 30px;
}

.cart-top {
  width: 1219px;
  margin: 0 auto;  
}

.cart-list {
  width: 100%;
}

.cart-item {
  width: 100%;
  display: flex;
  padding: 30px 0;
}

.cart-img__block {
  width: 290px;
  height: 346px;
  margin-right: 24px;
}

.cart-img {
  object-fit: cover;
  width: 100%;
}

.cart-column__left {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cart-name {
  text-transform: uppercase;
  font-weight: 400;
}

.cart-number {
  color: rgba(24, 24, 23, 0.5);
  margin-top: 10px;
}

.cart-size, .cart-color {
  font-family: "Inter";
  color: rgba(24, 24, 23, 0.5);
}

.cart-column__right {
  width: 125px;
  margin-left: auto;
  display: flex;
  flex-direction: column;
}

.cart-price {
  font-size: 24px;
  font-weight: 500;
}

.cart-buttons {
  width: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-top: 30px;
}

.cart-btn {
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 14.5px;
  height: 14.5px;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}

.cart-btn__add {
  background-image: url("../images/plus.svg");
}

.cart-btn__remove {
  background-image: url("../images/minus.svg");
}

.cart-ammount {
  font-family: "Inter";
}

.cart-btn__cancel {
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 95px;
  height: 22px;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  margin-top: auto;
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
}

.cart-footer {
  box-sizing: border-box;
  width: 1223px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 20px 25px;
  height: 70px;
  background-color: rgb(230, 237, 243);
}

.order {
  padding-top: 60px;
}

.order-wrap {
  width: 1223px;
  margin: 0 auto;
}

.order-title {
  font-size: 26px;
  text-transform: uppercase;
  margin-bottom: 28px;  
}

fieldset {
  border: none;
  padding: 0;
}

.delivery-text {
  margin-bottom: 30px;
}

.delivery-title {
  font-size: 18px;
  font-weight: 500;
}

.footer {
  padding-bottom: 60px;
}

.footer-top {
  background-color: #004F84;
  padding: 60px 0;
}

.footer-top__list {
  display: flex;
  width: 1220px;
  margin: 0 auto;
  gap: 290px;
}

.footer-top__item {
  width: 210px;
  text-align: center;
}

.footer-top__item:before {
  content: "";
  display: inline-block;
  width: 50px;
  height: 46px;
  background-position: center;
  background-repeat: no-repeat;
}

.order:before {
  background-image: url("../images/icon-park-outline_hanger.svg");
}

.quality:before {
  background-image: url("../images/fluent_premium-16-regular.svg");
}

.delivery:before {
  background-image: url("../images/carbon_delivery.svg");
}

.footer-top__title {
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  color: #FFFF;
}

.footer-top__link {
  font-size: 13px;
  color: #FFF;
  font-weight: 500;
}

.footer-bottom {
  display: flex;
  width: 1220px;
  margin: 0 auto;
  justify-content: space-between;
  padding-top: 84px;
}

.footer-bottom__title {
  font-family: "Inter";
  text-transform: uppercase;
  margin-bottom: 15px;
}

.footer-bottom__item {
  margin-bottom: 8px;
}

.footer-bottom__link {
  font-family: "Inter";
  color: #181818;
  text-decoration: none;
  transition: color 0.5s;
}

.footer-bottom__link:hover,
.footer-bottom__link:focus,
.footer-bottom__link:active {
  color: rgba(24, 24, 24, 0.5)
}

.social-title {
  font-family: "Inter";
  text-transform: uppercase;
  margin-bottom: 15px; 
}

.social-list {
  display: flex;
}

.social-list__item {
  margin-right: 10px;
}

.social-item__link {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-position: center;
  background-repeat: no-repeat;
  transition: opacity 0.5s;
}

.social-item__link:hover,
.social-item__link:focus,
.social-item__link:active {
  opacity: 0.7;
}

.vk {
  background-image: url("../images/vk.svg");
}

.vb {
  background-image: url("../images/viber.svg");
}

.tg {
  background-image: url("../images/ic_baseline-telegram.svg");
}